.landing-page {
    --background : #ffffff;
    // --background : #141821;

    --text-color : #1a202c;
    --text-color--light : #2d3748;
    --line-rule-color : var(--text-color);
    background-color: var(--background);

    --border-radius: 5px;

    span.site-name {
        color: var(--text-color) !important;
    }

    div.search-box, img.logo {
        display: none;
    }

    header.navbar {
        position: relative;
        border-bottom: none;
        background-color: transparent;
        margin-bottom: -60px;
        color: var(--text-color);

        nav.nav-links {
            margin-right: 30px;
        }

        a.nav-link:hover, span.title:hover {
            color: red;
            border-bottom-color: #00000000;
        }

        ul.nav-dropdown {
            background-color: transparent;
        }
    }

    .custom-layout {
        padding-top: 0px;
    }

    .links {
        background-color: transparent;
    }

    .landing-page-background {
        width: 100%;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h3,
        h3::before {
            color: var(--text-color);
            border-top-color: var(--text-color);
        }

        p {
            color: var(--text-color);
        }
    }

    $sectionHeight=70vh;

    .landing-page-background:nth-child(1) {
        height: calc(100vh - 56px);
    }

    .landing-page-background {
        min-height: $sectionHeight;
    }

    // $thisColor = #373f6b;
    $thisColor=#161719;

    $primaryColor=#a0d8f1;
    $primaryColorTrans=#6574cd99;
    $secondaryColor=#6574cd;

    $color1=#e9af32;
    $color2=#ffa31b;
    $darkColor=var(--text-color--darker);

    $gradient=linear-gradient(45deg, $color1 30%, $color2 100%);

    .downloads-container svg {
        fill: $primaryColorTrans;
        stroke: $primaryColorTrans;
    }

    $backgroundImage="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJUlEQVQoU2NkYGAwZmBgOMtAADASkIcbQkgh3JwRpxAcRET7GgAV+gMLEiMsLQAAAABJRU5ErkJggg==";

    .landing-page-background::before {
        // content: url('~@public/images/background.svg');
        // background: url($backgroundImage) repeat;
        position: absolute;
        left: 50%;
        z-index: -1;
    }

    .landing-page-background::after {
        // content: url('~@public/images/background.svg');
        // background: url($backgroundImage) repeat;
        position: absolute;
        right: 50%;
        z-index: -1;
    }



    // landing-page-download-section
    .downloads-container {

        div.platform {
            margin-bottom: 0px !important;
        }

        button.download-enabled,
        span.coming-soon {
            background: $gradient;
        }

        h1 {
            color: $darkColor !important;
            background: $gradient;
        }

        button.download-enabled,
        button.download-enabled span.platform-distro,
        .other-downloads span,
        span.coming-soon,
        .other-downloads-heading {
            color: $darkColor !important;
        }

        a {
            color: $color1;
        }

        img.download-svg {
            display: none;
        }

        h3 {

            background: $gradient;

            a {
                color: $darkColor;
            }
        }
    }

    .hero-features-component {
        margin-top: 50px;

        h1 {
            background: $gradient;
            color: $darkColor;
        }

        .feature {
            background: $gradient;

            h1,
            h3,
            .svg,
            p {
                color: $darkColor;
            }
        }
    }
}