body {
    --gradient: linear-gradient(72deg, #4c51bf, #667eea);
    --gradient-shadow: #4c51bf88;

    // --gradient: linear-gradient(30deg, rgb(90, 189, 255) 0%, rgb(71, 104, 180) 100%);
    // --gradient-shadow: rgba(52, 152, 219, 0.3);
    
    // --gradient: linear-gradient(30deg, #FBAB7E 0%, #F7CE68 100%);
    // --gradient-shadow: #FBAB7E88;
}

.landing-page {
    --background: #141821;
    --text-color: #ffffff;
    --text-color--light: #dddddd;

    // --background: #ffffff;
    // --text-color: #141821;
    // --text-color--light: #1a202c;

    ::selection {
        color: var(--text-color);
        background: var(--background);
    }


    --line-rule-color: var(--text-color);
    background-color: var(--background);

    --border-radius: 5px;

    span.site-name {
        color: var(--text-color) !important;
    }

    div.search-box {
        display: none;
    }

    header.navbar {
        position: relative;
        border-bottom: none;
        background-color: transparent;
        margin-bottom: -60px;
        color: var(--text-color);

        a.nav-link {
            border-bottom: solid 2px transparent;
            transition: all 0.2s;
        }

        a.nav-link:hover,
        a.dropdown-title:hover {
            color: var(--text-color);
            border-bottom: solid 2px var(--text-color);
        }

        ul.nav-dropdown {
            // background-color: transparent;
            background-color: var(--background);
            border-color: transparent !important;
        }
    }

    div.sidebar {
        padding-top: 0px;
        top: 3.6rem;
    }

    .custom-layout {
        padding-top: 0px;
    }

    .links {
        background-color: transparent;
    }

    .landing-page-background {
        width: 100%;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h3,
        h3::before {
            color: var(--text-color);
            border-top-color: var(--text-color);
        }

        p {
            color: var(--text-color);
        }
    }

    div.timeline-container-component:nth-child(2) div.full-circle {
        left: 180px;
        right: unset;
        background-image: linear-gradient(225deg, #e53e3e, #feb2b2);
    }

    div.timeline-container-component:nth-child(2) div.small-full-circle {
        left: 300px;
        right: unset;
        background-image: linear-gradient(72deg, #4c51bf, #667eea);
    }
}