.resume-page {

    --text-color--dark: #333333;
    --text-color--light: #777777;
    --text-color: #444444 !important;
    --divider-color: #dddddd;
    --accent-color: #3880ff;
    --content-font-size: 13px;
    --content-margin: 20px;
    --font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif !important; 

    ::selection {
        color: #ffffff;
        background: var(--accent-color);
    }

    p,
    span {
        color: var(--text-color);
    }

    p,span,h1,h2,h3,h4,h5,h6 {
        font-family: var(--font-family);
    }

    hr {
        border-top-color: var(--divider-color);
    }

    svg {
        fill: var(--text-color);
    }

    .navbar,
    .page-bottom-custom {
        display: none;
    }

    .custom-layout {
        padding-top: 0px;
        display: flex;
        justify-content: center;
    }

    .resume-container {
        max-width: 800px;
        padding: 0px var(--content-margin);
    }

}

.divider-container {
    margin: 5px 0px;
}

.resume-item-container {
    margin: 0px var(--content-margin);
}