.resume-page {

    // --text-color--dark: #333333;
    // --text-color--light: #777777;
    // --text-color: #444444 !important;

    --text-color--dark: var(--ion-color-dark);
    --text-color--light: var(--ion-color-medium-shade);
    --text-color: var(--ion-color-dark-shade) !important;

    --divider-color: #dddddd;
    --accent-color: #055af9;
    --content-font-size: 13px;
    --content-margin: 10px;
    --font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif !important;

    ::selection {
        color: #ffffff;
        background: var(--accent-color);
    }

    a {
        color: var(--accent-color);
    }

    p,
    span {
        color: var(--text-color);
    }

    p {
        line-height: 14px;
    }

    p,
    span,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-family);
    }

    hr {
        border-top-color: var(--divider-color);
    }

    svg {
        fill: var(--text-color);
    }

    .navbar,
    .page-bottom-custom {
        display: none;
    }

    .custom-layout {
        padding-top: 0px;
        display: flex;
        justify-content: center;
    }

    .resume-container {
        max-width: 800px;
        padding: 0px var(--content-margin);
        margin: 30px 20px;
    }

}

.divider-container {
    margin: 5px 0px;
    width: 100%;
}

.resume-item-container {
    margin: 0px var(--content-margin) 10px var(--content-margin);
    min-width: calc(50% - 2* var(--content-margin));
    max-width: calc(50% - 2* var(--content-margin));
    display: inline-block;
}

.resume-item-container.flex-grow {
    max-width: calc(100% - 2* var(--content-margin));
}