.home4-component {
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.hero-section-component {
    position: relative;
    display: flex;
    align-items: center;
    background-color: transparent !important;
}

.hero-top-component {
    // background: linear-gradient(45deg, rgb(38, 44, 65) 0%, rgb(70, 80, 122) 100%);
    background-image: linear-gradient(30deg, rgb(90, 189, 255) 0%, rgb(71, 104, 180) 100%);
    // background-image: linear-gradient(70deg, rgb(90, 189, 255) 0%, rgb(71, 104, 180) 100%);
    // background-image: linear-gradient(72deg, #4c51bf, #667eea);
    position: relative;
    width: 100%;
    margin-bottom: 50px;
}

.hero-features-component {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.message-component {
    position: relative;
}
#app > div > div.page > div:nth-child(1){
    position: relative;
}